.worker-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151515;
  padding: 10px 20px;
  border-radius: 4px;
  gap: 20px;

  span {
    display: block;
    color: #fff;
  }

  .text-right {
    display: flex;
    justify-content: space-around;
    min-width: 320px;
    max-width: 700px;
    width: 100%;
    flex-wrap: wrap;

    .username {
      flex-basis: 40%;
    }

    .email {
      color: #666;
      flex-basis: 40%;
      text-align: center;
    }

    .role {
      flex-basis: 20%;
      text-align: center;
    }
  }

  .text-left {
    display: flex;
    align-items: center;
    gap: 40px;

    .delete {
      background-color: rgb(219, 0, 0);
      transition: background-color 0.2s;

      &:hover {
        background-color: rgb(172, 0, 0);
      }
    }

    .disabled:disabled {
      background-color: #222;

      svg {
        color: #333;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .worker-card {
    .text-right {
      flex-direction: column;
      min-width: auto;

      .username {
        flex-basis: auto;
      }

      .email {
        flex-basis: auto;
        text-align: start;
      }

      .role {
        flex-basis: auto;
        text-align: start;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .worker-card {
    flex-direction: column;
    gap: 10px;

    .text-right {
      align-items: center;
      gap: 4px;
    }
  }
}
