.board-column {
  display: flex;
  flex-direction: column;
  background-color: #111;
  flex-basis: 31%;
  border-radius: 8px;
  height: 650px;

  h3 {
    color: #fff;
    text-align: center;
    border-bottom: 2px solid #858585;
    padding: 10px;
  }
}

.board-task-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 16px;
  height: 100%;
}
