.backlog-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151515;
  padding: 10px 20px;
  border-radius: 4px;
  width: 100%;

  span {
    display: block;
    color: #fff;
  }

  .text-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    min-width: 400px;

    span {
      text-align: center;

      &:nth-child(1) {
        flex-basis: 100px;
      }

      &:nth-child(2) {
        flex-basis: 215px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .backlog-task {
    flex-direction: column;
    gap: 12px;

    .task-title {
      width: 100%;
      border-bottom: 2px solid #ff6745;
      padding-bottom: 10px;
      text-align: center;
    }

    .text-left {
      flex-wrap: wrap;
      gap: 20px 30px;
      justify-content: center;
      margin-left: 0;
      min-width: 0;
      width: 100%;

      span {
        text-align: center;

        &:nth-child(1) {
          flex-basis: auto;
        }

        &:nth-child(2) {
          flex-basis: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
}
