.auth-form-button {
  padding: 20px 80px;
  font-size: 20px;
  border-radius: 12px;
  border: 3px solid #ff6745;
  background-color: #242424;
  max-width: fit-content;
  align-self: center;
  color: #fff;
  transition: background-color 0.1s;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 103, 69, 1);
  }
}
