.home-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  background-color: #ff6745;
  box-shadow: 0 0 6px 0 #222;

  .title {
    button {
      display: none;
    }

    h1 {
      color: #fff;
      font-size: 24px;
      font-weight: 100;
    }
  }
}

@media screen and (max-width: 768px) {
  .home-top-bar {
    .title {
      display: flex;
      align-items: center;
      gap: 6px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        height: 32px;
        width: 32px;
        border: 2px solid #923622;
        border-radius: 4px;
        transition: background-color 0.2s;
        cursor: pointer;
      }

      h1 {
        font-size: 20px;
      }

      .open {
        background-color: #db583b;
      }
    }
  }
}
