.date-picker {
  .text {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      color: #fff;
      font-size: 16px;
    }

    button {
      min-width: 0;
      padding: 6px;
    }
  }
}
