.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px 0;
  background: linear-gradient(
    135deg,
    rgb(41, 41, 41) 49%,
    rgb(255, 105, 71) 100%
  );
  overflow: auto;

  .inputs-container {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
}

@media screen and (max-height: 480px) and (orientation: landscape) {
  .auth-page {
    align-items: flex-start;
  }
}
