.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #292929;
  height: 100vh;
  gap: 40px;

  p:nth-child(1) {
    font-size: 100px;
    color: #fff;
  }

  p:nth-child(2) {
    font-size: 40px;
    color: #666;
  }

  button {
    color: #fff;
    font-size: 20px;
  }
}
