.user-profile {
  position: relative;
  max-width: fit-content;
  margin: 4px 0;

  button {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    padding: 4px 20px;
    background-color: #ff6745;
    transition: background-color 0.2s;
    border: 2px solid #923622;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #db583b;
    }

    &:focus {
      background-color: #db583b;
    }

    &:focus + .user-dropdown-settings {
      transform: translateY(calc(100% + 10px));
      opacity: 1;
    }
  }
}
