.user-profile {
  position: relative;
  max-width: fit-content;
  margin: 4px 0;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 40px;
    padding: 0 10px;
    background-color: #ff6745;
    transition: background-color 0.2s;
    border: 2px solid #923622;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #db583b;
    }

    svg {
      display: none;
    }
  }

  .open {
    background-color: #db583b;
  }
}

@media screen and (max-width: 480px) {
  .user-profile {
    button {
      .user-name {
        display: none;
      }
      svg {
        display: block;
      }
    }
  }
}
