.home-page {
  position: relative;
  height: 100vh;
  background-color: #292929;
  z-index: 1;

  select {
    width: 100px;
    option {
      span {
        letter-spacing: 10px;
      }
    }
  }

  .content {
    padding: 0 30px;
  }
}
