.project-page {
  background-color: #292929;
  min-height: 100vh;

  .project-main {
    display: flex;

    main {
      width: 100%;
      padding: 30px 40px;
      overflow: auto;
      height: calc(100vh - 50px);
    }
  }
}
